#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Nav-bar {
  background-color: rgb(243, 241, 241);
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}

                      /* Section 02 */

.sec2A {
  background-image: url('./img/bg-masthead.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

                        /* Section 03 */

.sec3A {
  display: flex;
  background-color: rgb(243, 241, 241);
  min-height: 200px;
  margin: 0;
  padding: 0;
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */

}

.sec4A {
  max-height: 200px;
  padding: 0;

}

                /* Section 05 */

.sec5A {
  background-color: rgb(243, 241, 241);
  min-height: 400px;
  margin: 0;
  padding-top: 40px;
}

.sec5B {
  margin-top: 40px;
  border-radius: 50%;
}

            /* Section Bottom */

.bottomA {

  background-color: rgb(243, 241, 241);
  min-height: 100px;
}

.bottomA {
    text-align: left;
    justify-content: center;
 
}
.bottomB ul {
  list-style: none;
}

.bottomB ul li {

 display: inline;
 padding: 15px;
}





